.TodoPage {
  background-color: var(--color-white);
  box-shadow: 10px 10px 39px -12px rgba(51, 50, 50, 0.75);
  -webkit-box-shadow: 10px 10px 39px -12px rgba(51, 50, 50, 0.75);
  -moz-box-shadow: 10px 10px 39px -12px rgba(51, 50, 50, 0.75);
  border-radius: 1rem;
  width: 70%;
  height: 70%;
  min-width: 500px;
}

.container {
  display: flex;
  height: 100%;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}
