.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-grey);
}

.toggle {
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--color-text);
  transition: all 150ms ease-out;
}

.toggle:hover {
  transform: scale(1.1);
  color: var(--color-darkGreen);
}

.LogoutBtn {
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-green);
  background-color: transparent;
  color: var(--color-green);
  transition: all 150ms ease-out;
}

.LogoutBtn:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

.filters {
  display: flex;
}

.filter {
  font-size: 1.4rem;
  cursor: pointer;
  margin: 0.3rem;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-darkGreen);
  opacity: 0.7;
  font-weight: bold;
}

.filter:hover,
.filter.selected {
  opacity: 1;
}

.filter.selected::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  border: 1px solid var(--color-text);
}

.addTodo {
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 3rem;
  text-transform: capitalize;
  font-weight: bold;
  padding: 0 1rem;
  border-radius: 8px;
  background-color: var(--color-darkGreen);
  color: var(--color-white);
  transition: all 150ms ease-out;
}

.addTodo:hover {
  opacity: 0.7;
}
